<header>
  <nav>
    <ul>
      <li class="selected">
        <a href="">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-envelope"></i>
          <span>Messages</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-star"></i>
          <span>Whislist</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-user"></i>
          <span>My Account</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
